/* Media queries */
@media screen and (max-width: 1366px) {
	main{
        flex-direction: column;
    }
    #rooms{
        order: 2;
    }
    aside{
        order: 1;
    }
    .search-results figure{
        height: 250px;
        grid-template-rows: 60% 1fr;
    }
    .popular-results{
        grid-template-rows: auto;
        grid-template-columns: repeat(3,1fr);
    }
    #activities{
        order: 3;
    }
}
@media screen and (max-width: 1280px) {
    .popular-results{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
    }
    .popular-results figure:first-child{
        height: 306px;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-template-columns: auto;
        grid-template-rows: 67% 1fr;
    }
    #activities article{
        height: 500px;
        grid-template-areas:
            "act-1 act-2 act-3"
            "act-4 act-5 act-6";
    }
    #activities img{
        height: 76% !important;
    }
}
@media screen and (max-width: 1024px){
    nav{
        padding-left: 2rem;
        padding-right: 0;
    }
    header{
        padding: 1rem 2rem;
    }
    .filters{
        flex-direction: column;
        align-items: flex-start;
    }
    .filters ul{
        margin-left: 0;
    }
    main{
        padding: 0;
    }
    #rooms{
        margin: 0;
        background-color: transparent;
        border-radius: 0;
    }
    aside{
        border-radius: 0;
    }
    .search-results{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    #activities{
        margin: 1rem 2rem;
    }
    #activities article{
        height: 700px;
        grid-template-areas: 
            "act-1 act-2"
            "act-3 act-4"
            "act-5 act-6";
    }
    #activities figure img{
        height: 73% !important;
    }
    footer{
        padding-top: 2rem;
    }
    footer ul{
        width: 100%;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 768px){
    nav{
        padding: 0 0 1rem 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "logo signup";
    }
    svg{
        padding-left: 2rem;
    }
    #logo{
        grid-area: logo;
    }
    .anchor{
        padding-bottom: 1rem;
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
    }
    .anchor:hover{
        border-top: none;
        color: #0065fc;
        border-bottom: 2px solid #0065fc;
    }
    .anchor:active{
        color: #0065fc;
        border-bottom: 2px solid #0065fc;
    }
    #signup{
        grid-area: signup;
        text-align: right;
        padding-right: 2rem;
    }
    .search{
        width: 100%;
    }
    .search-btn{
        width: 60px;
        border-radius: 10px;
        margin-left: -10px;
    }
    .search-btn span{
        display: none;
    }
    .search-btn i{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
    }
    .popular-results{
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: auto;
    }
    .popular-results figure:first-child{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        height: 135px;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .popular-results h3{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .search-results{
        grid-template-columns: auto;
        grid-template-rows: repeat(6,1fr);
    }
    .search-results figure{
        height: 300px;
        display: grid;
        grid-template-rows: 65% 1fr;
    }
    #activities article{
        height: 1500px;
        grid-template-areas: 
            "act-1"
            "act-2"
            "act-3"
            "act-4"
            "act-5"
            "act-6";
    }
    #activities figure img{
        height: 75% !important;
    }
}
@media screen and (max-width: 425px){
    .popular-results figure{
	    height: 170px !important;
    }
}