
/* Media queries */
@media screen and (max-width: 1330px) {
	main{
        flex-direction: column;
    }
    #rooms{
        order: 2;
    }
    aside{
        order: 1;
    }
    .popular-results{
        grid-template-rows: auto;
        grid-template-columns: repeat(3,1fr);
    }
    .popular-results figure{
        grid-template-columns: 1fr 2fr;
    }
    #activities{
        order: 3;
    }
}
@media screen and (max-width: 1200px) {
    #activities article{
        height: 500px;
        grid-template-areas:
            "act-1 act-2 act-3"
            "act-4 act-5 act-6";
    }
    #activities img{
        height: 76% !important;
    }
}
@media screen and (max-width: 950px) {
    .search{
        width: 100%;
    }
    .filters{
        flex-direction: column;
        align-items: flex-start;
    }
    .filters ul{
        margin-left: 0;
    }
    .popular-results{
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: auto;
    }
    .popular-results figure{
        grid-template-columns: 1fr 2fr;
    }
    #activities article{
        height: 700px;
        grid-template-areas: 
            "act-1 act-2"
            "act-3 act-4"
            "act-5 act-6";
    }
    #activities figure img{
        height: 73% !important;
    }
    footer{
        padding-top: 2rem;
    }
    footer ul{
        width: 100%;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 890px){
    main{
        padding: 0;
    }
    #rooms{
        margin: 0;
        background-color: transparent;
        border-radius: 0;
    }
    aside{
        border-radius: 0;
    }
    .search-results{
        grid-template-columns: auto;
        grid-template-rows: repeat(6,1fr);
    }
    .search-results figure{
        height: 300px;
    }
    .search-results img{
        height: 72%;
    }
    #activities{
        margin: 1rem 2rem;
    }
}
@media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    #activities article{
        height: 1500px;
        grid-template-areas: 
            "act-1"
            "act-2"
            "act-3"
            "act-4"
            "act-5"
            "act-6";
    }
    #activities figure img{
        height: 75% !important;
    }
}
@media screen and (max-width: 510px) {
    
}