body{
    display: flex;
    flex-direction: column;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.rooms{
    display: flex;
}
.r-search{
    display: flex;
    flex-wrap: wrap;
}
.r-search > .r-search-results{
    flex: 1 1 30%;
}
.r-search > .r-search-results > img{
    width: 100%;
}
.r-popular{
    display: flex;
    flex-direction: column;
}
.r-popular > .r-popular-results{
    flex: 1 1 90%;
}
.r-popular > .r-popular-results > img{
    width: 100%;
}
.activities{
    display: flex;
}
