/* Global properties */
*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
body{
	max-width: 1440px;
	margin: 0 auto;
}
h1, h2, h3{
	font-weight: 700;
}
h1{
	font-size: 1.6rem;
	margin-bottom: 1rem;
}
h2{
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
h3{
	font-size: 1rem;
	margin-bottom: 0.3rem;
}
/* Navigation bar - including logo and navigation links*/
nav{
	display: flex;
    justify-content: space-between;
	padding-bottom: 1rem;
}
svg{
	padding-left: 3rem;
	padding-top: 2rem;
}
.links{
	padding-right: 3rem;
	width: 460px
}
.links li{
	display: inline;
}
.links a{
	display: inline-block;
	width: 150px;
	text-align: center;
	padding-top: 3rem;
	color: black;
	text-decoration: none;
}
.section{
	border-top: 2px solid transparent;
}
.section:hover{
	color: #0065fc;
	border-top: 2px solid #0065fc;
}
#signup{
	font-weight: 700;
	color: #0065fc;
}
/* Header - including search bar and search filters */
header{
	padding: 1rem 3rem;
}
header p > i{
	display: inline-block;
	margin-right: 1rem;
	margin-top: 1rem;
	padding: 0.5rem 0.75rem;
	font-size: smaller;
	color: #0065fc;
	border: 1px solid #deebff;
	border-radius: 60px;
}
.search{
	width: 400px;
	display: flex;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.search input{
	width: 100%;
	border: 1px solid #f2f2f2;
	border-left: none;
	border-right: none;
	padding: 0.8rem;
	font-size: 1.2rem;
	font-weight: 700;
	color: black;
}
.search input::placeholder{
	color: black;
}
.geo-btn{
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	border-radius: 10px 0 0 10px;
	padding: 0.8rem;
	font-size: 1.2rem;
	font-weight: 700;
}
.search-btn{
	border: 1px solid #0065fc;
	background-color: #0065fc;
	border-radius: 0 10px 10px 0;
	padding: 0.8rem;
	font-size: 1.2rem;
	font-weight: 700;
	color: white;
}
.filters{
	font-weight: 700;
	width: 100%;
	display: flex;
	align-items: center;
}
.filters > p{
	margin-bottom: 1rem;
	font-weight: 700;
}
.filters ul{
	margin-left: 2rem;
}
.filters li{
	display: inline-block;
	border: 2px solid #deebff;
	border-radius: 30px;
	margin-bottom: 1rem;
	margin-right: 1rem;
}
.filters li *{
	display: inline-block;
}
.filters i{
	width: 20px;
	height: 20px;
	padding: 1rem;
	text-align: center;
	color: #0065fc;
	background-color: #deebff;
	border-radius: 30px;
}
.filters li p{
	margin-left: 1rem;
	margin-right: 1rem;
	font-weight: 700;
}
/* Main section - contains search results, activities, etc. */
main{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	padding: 0 3rem;
}
#rooms{
	flex-basis: 63%;
	padding: 2rem;
	background-color: #f2f2f2;
	border-radius: 20px;
	margin: 1rem 0;
}
#rooms > p{
	font-weight: 700;
}
.search-results{
	display: grid;
	gap: 1.8rem;
	grid-template-columns: repeat(3,1fr);
	margin: 2rem 0;
}
.search-results figure{
	height: 200px;
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	overflow: hidden;
	box-shadow: 0px 5px 10px gainsboro;
}
.search-results img{
	height: 57%;
	width: 100%;
	object-fit: cover;
}
.search-results figcaption{
	padding: 0.5rem 1rem;
}
.search-results p{
	font-size: 0.8rem;
}
.search-results .rating{
	margin-top: 0.4rem;
}
aside{
	flex-basis: 25%;
	padding: 2rem;
	background-color: #F2F2F2;
	border-radius: 20px;
	margin: 1rem 0;
}
aside h2{
	display: flex;
	justify-content: space-between;
}
.popular-results{
	display: grid;
	gap: 1.8rem;
	grid-template-rows: repeat(3,1fr);
	margin: 2rem 0 0;
}
.popular-results figure{
	height: 135px;
	display: grid;
	grid-template-columns: 40% 60%;
	border: 5px solid white;
	border-radius: 20px;
	background-color: white;
	overflow: hidden;
	box-shadow: 0px 5px 10px gainsboro;
}
.popular-results img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.popular-results figcaption{
	margin: 1rem;
}
.popular-results p{
	font-size: 0.8rem;
}
.popular-results .rating{
	margin-top: 2rem;
}
.rating > .blue{
	color: #0065fc;
}
.rating > .grey{
	color: #deebff;
}
#activities{
	flex-basis: 100%;
	margin: 1rem 0;
}
#activities h2{
	margin-bottom: 2rem;
}
#activities article{
	display: grid;
	gap: 1.8rem;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(5,1fr);
	height: 400px;
}
#activities figure{
	border-radius: 20px;
	background-color: white;
	overflow: hidden;
	box-shadow: 0px 10px 10px #f2f2f2;
}
#activities figure:nth-child(1){
	grid-row-start: 1;
	grid-row-end: 6;	
}
#activities figure:nth-child(1) img{
	height: 85%;
}
#activities figure:nth-child(2){
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 4;
}
#activities figure:nth-child(2) img{
	height: 75%;
}
#activities figure:nth-child(3){
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 6;
}
#activities figure:nth-child(3) img{
	height: 62%;
}
#activities figure:nth-child(4){
	grid-row-start: 1;
	grid-row-end: 6;
}
#activities figure:nth-child(4) img{
	height: 85%;
}
#activities figure:nth-child(5){
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
}
#activities figure:nth-child(5) img{
	height: 62%;
}
#activities figure:nth-child(6){
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 6;
}
#activities figure:nth-child(6) img{
	height: 75%;
}
#activities img{
	width: 100%;
	object-fit: cover;
}
#activities figcaption{
	padding: 1rem;
}
/* Footer - contains sitemap, etc. */
footer{
	background-color: #f2f2f2;
	padding: 3rem 3rem 2rem;
	margin-top: 3rem;
}
footer ul{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
footer li{
	list-style: none;
	margin-bottom: 1rem;
}
footer li:nth-child(1){
	font-weight: 700;
	margin-bottom: 1.5rem;
}